
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="image/x-icon" rel="shortcut icon" href="~/Content/images/favicon.ico" />
    @Styles.Render("~/Content/easyui/bootstrap")
    @Styles.Render("~/Content/site")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")
    @Scripts.Render("~/bundles/common")
    <title>公司管理</title>
</head>
<body>
    <div id="ui_corp_layout" class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'center',border:false">
            <table id="ui_corp_tg" data-options="fit:true,border:false"></table>
        </div>
    </div>

    @if (false)
    {
        <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
    }

    <script type="text/javascript">
        $(function () {
            //请求当前用户可以操作的按钮
            $.ajax({
                url: '@Url.Action("GetButtonByUserIdAndMenuCode", "Button")',
                type: "POST",
                dataType: "json",
                data: { "menuCode": "corp", "pageName": "corporation" },
                timeout: 5000,
                success: function (data) {
                    if (data.success) {
                        var oldSelectCorpId;
                        var toolbar = getToolBar(data);
                        if (data.browser) {
                            $("#ui_corp_tg").treegrid({
                                url: '@Url.Action("GetAll", "Corporation")',
                                idField: 'id',
                                treeField: 'text',
                                rownumbers: true,
                                columns: [[
                                            { field: 'text', title: '公司名称', width: 150 },
                                            { field: 'Code', title: '编码', width: 80 },
                                            {
                                                field: 'Enabled', title: '启用', sortable: true, width: 60, align: 'center',
                                                formatter: function (value, row, index) {
                                                    return value ? '<img src="@Url.Content("~/Content/easyui/icon/chk_checked.gif")" alt="已启用" title="公司已启用" />' : '<img src="@Url.Content("~/Content/easyui/icon/chk_unchecked.gif")" alt="未启用" title="公司未启用" />';
                                                }
                                            },
                                            { field: 'Sort', title: '排序', width: 60 },
                                            { field: 'CreatedTime', title: '创建时间', width: 150 }
                                ]],
                                toolbar: toolbar.length == 0 ? null : toolbar
                            });
                        }
                        else {
                            $("#ui_corp_layout").layout("remove", "east");
                            $.show_warning("提示", "无权限，请联系管理员！");
                        }
                    } else {
                        $.show_warning("错误", data.result);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (textStatus == "timeout") {
                        $.show_warning("提示", "请求超时，请刷新当前页重试！");
                    }
                    else {
                        $.show_warning("错误", textStatus + "：" + errorThrown);
                    }
                }
            })
        });

        var corpIds = "";
        function recursionGetIds(rows) {
            if (rows.children != undefined) {
                $.each(rows.children, function (i, row) {
                    corpIds += row.id + ",";
                    recursionGetIds(row);
                });
            }
        }

        //添加公司
        function corporation_add() {
            $("<div/>").dialog({
                id: "ui_corp_add_dialog",
                href: '@Url.Action("Add", "Corporation")',
                title: "添加公司",
                height: 350,
                width: 460,
                modal: true,
                buttons: [{
                    id: "ui_corp_add_btn",
                    text: '添 加',
                    handler: function () {
                        $("#ui_corp_addform").form("submit", {
                            url: '@Url.Action("Add", "Corporation")',
                            onSubmit: function (param) {
                                $('#ui_corp_add_btn').linkbutton('disable');
                                if ($(this).form('validate'))
                                    return true;
                                else {
                                    $('#ui_corp_add_btn').linkbutton('enable');
                                    return false;
                                }
                            },
                            success: function (data) {
                                var dataJson = eval('(' + data + ')');
                                if (dataJson.success) {
                                    $("#ui_corp_add_dialog").dialog('destroy');
                                    $.show_warning("提示", dataJson.msg);
                                    $("#ui_corp_tg").treegrid("reload");
                                } else {
                                    $('#ui_corp_add_btn').linkbutton('enable');
                                    $.show_warning("提示", dataJson.msg);
                                }
                            }
                        });
                    }
                }],
                onLoad: function () {
                    $("#Name").focus();
                },
                onClose: function () {
                    $("#ui_corp_add_dialog").dialog('destroy');
                }
            });
        }

        //修改公司
        function corporation_edit() {
            var row = $("#ui_corp_tg").treegrid("getSelected");
            if (!row) {
                $.show_warning("提示", "请先选择要修改的公司");
                return;
            }
            $("<div/>").dialog({
                id: "ui_corp_edit_dialog",
                href: '@Url.Action("Edit", "Corporation")',
                title: "修改公司",
                height: 350,
                width: 460,
                modal: true,
                buttons: [{
                    id: "ui_corp_edit_btn",
                    text: '修 改',
                    handler: function () {
                        $("#ui_corp_editform").form("submit", {
                            url: '@Url.Action("Edit", "Corporation")',
                            onSubmit: function (param) {
                                $('#ui_corp_edit_btn').linkbutton('disable');
                                if ($(this).form('validate'))
                                    return true;
                                else {
                                    $('#ui_corp_edit_btn').linkbutton('enable');
                                    return false;
                                }
                            },
                            success: function (data) {
                                var dataJson = eval('(' + data + ')');
                                if (dataJson.success) {
                                    $("#ui_corp_edit_dialog").dialog('destroy');
                                    $.show_warning("提示", dataJson.msg);
                                    $("#ui_corp_tg").treegrid("reload");
                                } else {
                                    $('#ui_corp_edit_btn').linkbutton('enable');
                                    $.show_warning("提示", dataJson.msg);
                                }
                            }
                        });
                    }
                }],
                onLoad: function () {
                    $("#id").val(row.id);
                    $("#Name").val(row.text);
                    $('#Sort').numberspinner('setValue', row.Sort);
                },
                onClose: function () {
                    $("#ui_corp_edit_dialog").dialog('destroy');
                }
            });
        }

        //删除公司
        function corporation_delete() {
            var row = $("#ui_corp_tg").datagrid("getSelected");
            if (!row) {
                $.show_warning("提示", "请先勾选要删除的公司");
                return;
            }
            $.messager.confirm('提示', '确定删除：' + row.text + '？如果有子公司也会同时删除！', function (r) {
                if (r) {
                    corpIds = "";
                    recursionGetIds(row);
                    $.ajax({
                        url: '@Url.Action("Delete", "Corporation")',
                        data: { "deleteCorpIds": corpIds + row.id },
                        type: "POST",
                        dataType: "JSON",
                        success: function (data) {
                            if (data.success) {
                                $.show_warning("提示", data.msg);
                                $("#ui_corp_tg").treegrid("reload");
                                if ($('#tabs').tabs('exists', '部门管理')) {
                                    $('#tabs').tabs('getTab', '部门管理').panel('refresh');
                                }
                                $("#ui_corp_layout").layout("collapse", "east");
                            } else {
                                $.show_warning("提示", data.msg);
                            }
                        }
                    });
                }
            });
        }

    </script>

</body>
</html>
